---
title:  "Notes to my Future Self"
permalink: "/notes.html"
---

List of all posts in chronological order.  For a list by topic <a href="\tags.html">check this page</a>.

<ul class="notes-list">
  {% assign notes = site.notes | sort: "date" | reverse %}

  {% for note in notes %}
    <li class="notes-list-item">
      <article>
        <h2>
          <a href="{{ note.url | relative_url }}">
            {{ note.title }}
          </a>
        </h2>

        <time datetime="{{ note.date | date_to_xmlschema }}">
          {{ note.date | date: "%Y-%m-%d" }}
        </time>

        {% if note.description %}
          <p>{{ note.description }}</p>
        {% endif %}
      </article>
    </li>
  {% endfor %}
</ul>


{% raw %}
<style>
  sup[role='doc-noteref'], 
  div[role='doc-endnotes'] { 
    display:none; 
  }

  li > p {
    margin-inline-start: 40px;
    margin-block-start:  0.3em;
    margin-block-end:    1em;
  }

  article ul {
    margin-inline-start: 40px;
  }

  article h1 {
    margin-block-start:  1em !important;
    margin-block-start:  1.5em !important;
  }
  article h2 {
    margin-block-start:  1em !important;
    margin-inline-start: 40px !important;
  }

  article h1 + h2 {
    margin-block-start:  0.5em !important;
  }
</style>
{% endraw %}
