---
title:       "Posts by Tag"
description: "Posts sorted by tags."
permalink:   /tags.html
---
{% assign all_items = site.posts | concat: site.notes %}
<!-- {{ all_items }} -->
{% assign tags = "" | split: "" %}

{% for item in all_items %}
  {% assign tags = tags | concat: item.tags %}
{% endfor %}
<!-- {{ tags }} -->
{% assign tags = tags | uniq | sort_natural %}
<!-- {{ tags }} -->
{%- for tag in tags -%}
  {%- assign published_posts = all_items[tag] | where_exp: "item", "item.tags contains tag" -%}
  {%- assign published_posts = published_posts | where: "draft", "false" -%}

  {%- assign num_posts = published_posts.size -%}
  
  {%- if num_posts != 0 -%}
    <details data-tag="{{ tag }}">
      <summary><h2 id="{{ tag }}" style="display:inline;">{{ tag }} ({{ num_posts }})</h2></summary>
    <ul>
      {% for post in published_posts %}
        {% if post.draft != true %}
        <li>{{ post.date  | date: "%Y-%m-%d" }} - <a markdown="1" href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    </details>
  {% endif %}
{% endfor %}


<style>
summary::-webkit-details-marker {
  padding-bottom: 4px;
}
</style>

<script>
if (window.location.hash) {
  document.querySelector("details[data-tag='"+decodeURIComponent(window.location.hash.substring(1))+"']").open=true;
}
</script>
